<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    @Scripts.Render("~/bundles/modernizr")
    <style>

        * {
            box-sizing: border-box;
        }


        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        header {
            background-color: powderblue;
            padding: 30px;
            text-align: center;
            font-size: 35px;
            color: white;
        }

        nav {
            float: left;
            width: 30%;
            height: 550px;
            background: #ccc;
            padding: 20px;
        }

            nav ul {
                list-style-type: none;
                padding: 0;
            }

        article {
            float: left;
            padding: 20px;
            width: 70%;
            background-color: #f1f1f1;
            
        }


        section:after {
            content: "";
            display: table;
            clear: both;
        }


        footer {
            background-color: powderblue;
            padding: 10px;
            text-align: center;
            color: white;
        }
    </style>

</head>
<body>

    <header>
        <h2>Breezy Airlines</h2>
        <img src="https://gumbira.com/wp-content/uploads/2018/10/shutterstock_41347264_IM_photo.jpg" alt="gumbira.com" style="width:500px;height:300px;">
    </header>

    <section>
        <nav>
             <ul>
                  <li>@Html.ActionLink("Welcome to Breezy Airlines", "MainConsumer", "MainConsumer", new { area = "" }, new { @class = "navbar-brand" })</li>
                  <li>@Html.ActionLink("About", "About", "Home")</li>
                  <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                  <li>@Html.ActionLink("My Flights", "CheckFlightStatus", "CheckFlightStatus")</li>
                  <li>@Html.ActionLink("My Tickets", "MyTickets", "MyTickets")</li>
             </ul>
        </nav>

        <article>
            @Html.Partial("_LoginPartial")    
            <div class="container body-content">
                @RenderBody()
                <hr />
            </div>
        </article>

    </section>

    <footer>
        <p>Thank you for flying with Breezy Airlines</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


