
@model IEnumerable<GroupProject.Models.FlightInfo>
@{
    ViewBag.Title = "FlightSelection2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Flight Selection</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartureAirport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalAirport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.SingleTicketPrice)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureAirport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalAirport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>      
            <td>
                @Html.DisplayFor(modelItem => item.SingleTicketPrice)
            </td>
         
            <td>
                <input type="button" value="Select" onclick="location.href='@Url.Action("Create", "PassengerInfoes")'" />
            </td>
        </tr>
    }

</table>

