@model GroupProject.Models.FlightInfo
@{
     ViewBag.Title = "MainAdmin";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
     <title>@ViewBag.Title - My ASP.NET Application</title>
     @Scripts.Render("~/bundles/modernizr")

</head>

</html>

<h2>Search For a Flight</h2>

<nav>
     <ul>
          <li>@Html.ActionLink("Welcome to Breezy Airlines", "MainConsumer", "MainConsumer", new { area = "" }, new { @class = "navbar-brand" })</li>
          <li>@Html.ActionLink("About", "About", "Home")</li>
          <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
          <li>@Html.ActionLink("My Flights", "CheckFlightStatus", "CheckFlightStatus")</li>
          <li>@Html.ActionLink("My Tickets", "MyTickets", "MyTickets")</li>
          <li>@Html.ActionLink("Add Flights", "Create", "FlightInfoes")</li>
          <li>@Html.ActionLink("Update Flight Status", "FlightUpdateStatus", "FlightUpdateStatus")</li>
     </ul>
</nav>

<div>
     @Html.LabelFor(Model => Model.DepartureDate, htmlAttributes: new { @class = "control-label col-md-2" })

     @if (ViewBag.DepartureDateList != null)
     {
          @Html.DropDownListFor(m => m.FlightNum, ViewBag.DepartureDateList as SelectList, "--Select Departure Date--", new { @class = "form-control" })
          @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })

     }
     @Html.LabelFor(Model => Model.ArrivalAirport, htmlAttributes: new { @class = "control-label col-md-2" })
     @Html.DropDownListFor(m => m.FlightNum, ViewBag.ArrivalAirportList as SelectList, "--Select Arrival Airport--", new { @class = "form-control" })
     @Html.ValidationMessageFor(model => model.ArrivalAirport, "", new { @class = "text-danger" })


     <input type="button" value="Search" onclick="location.href='@Url.Action("FlightSelection2", "FlightSelection2")'" /> <!--Should send to Flight Selection page when complete-->
</div>

<!--  This was an attempt to create a cascading drop-down list

<script>
     $(document).ready(function () {
          $("#FlightNum").change(function () {
               $.get("/MainConsumerController/GetFlightInfoList", { FlightNum: $("#FlightNum").val() }, function (data) {
                    // $("#FlightNum").empty();
                    $.each(data, function (index, row) {
                         $("#FlightNum").append("<option value = '" + row.FlightNum + "'>" + row.ArrivalAirport + "</option>")
                    })
               })
          })
     })

</script>


     <div class="form-group">
          @Html.LabelFor(Model => Model.DepartureDate, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
               @Html.DropDownList("DepartureDate", null, htmlAttributes: new { @class = "form-control" })
               @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
          </div>
     </div>

    <div class="form-group">
          @Html.LabelFor(Model => Model.ArrivalAirport, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
               @Html.DropDownList("ArrivalAirport", null, htmlAttributes: new { @class = "form-control" })
               @Html.ValidationMessageFor(model => model.ArrivalAirport, "", new { @class = "text-danger" })
          </div>
     </div>

     <div class="form-group">
          @Html.LabelFor(Model => Model.FlightCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">

               @Html.DropDownListFor(m => m.FlightCapacity, Enumerable.Range(1, 30).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
               @Html.ValidationMessageFor(model => model.FlightCapacity, "", new { @class = "text-danger" })
          </div>
     </div>

       -->
