@model GroupProject.Models.FlightInfo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FlightInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartureAirport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureAirport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalAirport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalAirport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SingleTicketPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SingleTicketPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
