@model GroupProject.Models.Manifest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Manifest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlightInfo.DepartureAirport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightInfo.DepartureAirport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassengerInfo.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassengerInfo.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManifestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
